*{
    border: 0;
    padding: 0;
    margin: 0;
}

header{
    background-color: #002769;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.links{
    color: white;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0.7em;   
}

#pheader{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    margin: 0.7em;
    margin-left: 3em;
}

#ultimolink{
    margin-right: 3em;
}

#imagemdasec1{
    width: 25em;
}

.linksimg{
    width: 3em;
    margin: 0.5em;
    margin-top: 1em;

}
#sec1{
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 6em;
    display: flex;
    align-items: center;
}


h1{
    color: #002769;
    font-size: 5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#segundop{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

#terceirop{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
}

#art1{
    display: flex;
    flex-direction: column;
}

#nav1{
    margin-top: 1em;
}
/* From Uiverse.io by mrhyddenn */ 
button {
    background: #002769;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
  }
  
  span {
    display: inline-block;
    transform: skew(21deg);
    color: white;
  }
  
  button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: rgb(20, 20, 20);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
  }
  
  button:hover {
    color: #fff;
  }
  
  button:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
  }